html {
  scroll-behavior: smooth;
}

.page-index .wrap {
  color: rgb(56, 56, 56);
  background-color: rgb(247, 236, 232);
}
@media (min-width: 760px) {
  .page-index .wrap {
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  .page-index ._pc {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }
  .page-index ._sp {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .page-index .bg_wrap._01 {
    position: relative;
    background: url("../images/index/bg/bg01.png") repeat center center;
    background-size: 36.484375vw 35.3125vw;
    padding-bottom: 5.46875vw;
  }
  .page-index .bg_wrap._01:before {
    content: "";
    display: block;
    width: 100%;
    height: 67.1875vw;
    background: url("../images/index/introduction/shape01.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    bottom: 46.09375vw;
  }
  .page-index .bg_wrap._01::after {
    content: "";
    display: block;
    width: 100%;
    height: 101.5625vw;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgb(247, 236, 232)), to(rgb(247, 236, 232)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(247, 236, 232) 90%, rgb(247, 236, 232));
  }
  .page-index .bg_wrap._02 {
    background: url("../images/index/bg/bg02.png") repeat center center;
    background-size: 25.78125vw 25.78125vw;
    position: relative;
  }
  .page-index .bg_wrap._02::before {
    content: "";
    display: block;
    width: 100%;
    height: 101.5625vw;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(247, 236, 232)), color-stop(50%, rgb(247, 236, 232)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(rgb(247, 236, 232), rgb(247, 236, 232) 50%, rgba(0, 0, 0, 0));
  }
  .page-index .bg_wrap._02::after {
    content: "";
    display: block;
    width: 100%;
    height: 101.5625vw;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(95%, rgb(247, 236, 232)), to(rgb(247, 236, 232)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(247, 236, 232) 95%, rgb(247, 236, 232));
  }
  .page-index .ink {
    position: absolute;
    z-index: 10;
  }
  .page-index ._hover_scale {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .page-index ._hover_scale:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .page-index .hero {
    width: 100%;
    height: 53.4375vw;
    position: relative;
    z-index: 10;
    background: url("../images/index/hero/kv.png") no-repeat;
    background-size: cover;
    background-position: center -1.953125vw;
  }
  .page-index .hero .hero_logo01 {
    position: absolute;
    top: -2.734375vw;
    left: 0;
    width: 47.265625vw;
    height: 33.125vw;
  }
  .page-index .hero .hero_sideorder {
    position: absolute;
    right: 0;
    bottom: -8.59375vw;
    width: 56.25vw;
    height: 37.8125vw;
  }
  .page-index .hero .hero_release {
    position: absolute;
    left: 4.0625vw;
    bottom: -3.90625vw;
  }
  .page-index .hero .hero_release .hero_date {
    position: absolute;
    left: 0;
    bottom: 8.59375vw;
    width: 17.8125vw;
    height: 19.0625vw;
    z-index: 2;
  }
  .page-index .hero .hero_release .hero_date::before {
    content: "";
    position: absolute;
    bottom: -3.75vw;
    left: 50%;
    -webkit-transform: translateX(-52%);
            transform: translateX(-52%);
    width: 3.90625vw;
    height: 4.53125vw;
    background: url("../images/index/hero/arrow.png") no-repeat;
    background-size: 100% auto;
  }
  .page-index .hero .hero_release .hero_play {
    position: absolute;
    z-index: 1;
    left: -0.546875vw;
    bottom: 0vw;
    width: 18.28125vw;
    height: 8.359375vw;
  }
  .page-index .movie {
    padding: 7.8125vw 0;
  }
  .page-index .movie ._movie_frame02,
.page-index .movie ._movie_frame01 {
    position: absolute;
    top: 4.6875vw;
  }
  .page-index .movie ._movie_frame01 {
    left: 0;
    background: url("../images/index/movie/frame01.png") no-repeat top left;
    background-size: 100% auto;
    left: 0.9375vw;
    width: 5vw;
    height: 56.25vw;
  }
  .page-index .movie ._movie_frame02 {
    right: 0;
    background: url("../images/index/movie/frame02.png") no-repeat top left;
    background-size: 100% auto;
    right: 0.9375vw;
    width: 4.375vw;
    height: 54.6875vw;
  }
  .page-index .movie .movie_wrap {
    width: 86.71875vw;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 2.734375vw;
    margin-inline: auto;
    -webkit-box-shadow: 0vw 0vw 3.125vw 0.234375vw rgb(188, 132, 120);
            box-shadow: 0vw 0vw 3.125vw 0.234375vw rgb(188, 132, 120);
    position: relative;
    margin-bottom: 4.6875vw;
  }
  .page-index .movie .movie_wrap > .movie_view,
.page-index .movie .movie_wrap > .movie_view > iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .page-index .movie .movie_wrap > .movie_view > iframe {
    position: relative;
    width: 100.6%;
    left: -0.3%;
    top: -0.3%;
  }
  .page-index .movie .movie_wrap > .movie_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 86.875vw;
    height: auto;
    aspect-ratio: 16/9;
  }
  .page-index .movie .movie_wrap > .movie_cover > .movie_poster {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 110%;
    height: auto;
  }
  .page-index .movie .movie_wrap > .movie_cover > .movie_play_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 6.25vw;
    height: 6.25vw;
    z-index: 2;
  }
  .page-index .movie .movie_cover._is_hide {
    opacity: 0;
    visibility: visible;
    pointer-events: none;
  }
  .page-index .movie .movie_select {
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .page-index .movie .movie_select > button:first-of-type {
    margin-right: 5.46875vw;
  }
  .page-index .movie .movie_select_btn {
    width: 22.890625vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1.5625vw 3.125vw;
    position: relative;
  }
  .page-index .movie .movie_select_btn > figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 17.96875vw;
  }
  .page-index .movie .movie_select_btn > figure > img {
    display: block;
    width: 5.78125vw;
  }
  .page-index .movie .movie_select_btn > figure > figcaption > img {
    display: block;
    margin-left: 0.78125vw;
  }
  .page-index .movie .movie_figcaption01 {
    width: 11.328125vw;
  }
  .page-index .movie .movie_figcaption02 {
    width: 11.328125vw;
  }
  .page-index .movie .movie_select_btn._select::before {
    content: "";
    position: absolute;
    top: -1.171875vw;
    left: -2.34375vw;
    width: 28.28125vw;
    height: 15.625vw;
    background: url("../images/index/movie/select.png") no-repeat;
    background-size: 28.28125vw auto;
  }
  .page-index .movie .movie_select_btn._select::after {
    content: "";
    position: absolute;
    top: 0vw;
    left: -1.09375vw;
    width: 25.9375vw;
    height: 13.125vw;
    background: url("../images/index/movie/select_bg.png") no-repeat;
    background-size: 25.9375vw auto;
  }
  .page-index .movie .movie_select_btn._select > figure > img {
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
  }
  .page-index .movie .ink._movie_ink01 {
    top: 7.421875vw;
    left: 0;
    background: url("../images/index/ink/ink11.png") no-repeat top left;
    background-size: 100% auto;
    width: 3.671875vw;
    height: 14.84375vw;
  }
  .page-index .introduction {
    position: relative;
    z-index: 5;
    width: 100%;
    height: auto;
    padding: 6.25vw 0 7.8125vw;
  }
  .page-index .introduction::before {
    content: "";
    display: block;
    width: 19.53125vw;
    height: 1.953125vw;
    background: url("../images/index/common/deco01.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-index .introduction .introduction_text {
    width: auto;
    height: 2.96875vw;
    margin-bottom: 2.734375vw;
  }
  .page-index .introduction .introduction_text._02 {
    height: 2.65625vw;
    margin-bottom: 6.875vw;
  }
  .page-index .introduction .introduction_text._03 {
    height: 2.65625vw;
  }
  .page-index .introduction .introduction_text._05 {
    margin-bottom: 5.234375vw;
    height: 2.8125vw;
  }
  .page-index .introduction .introduction_text > picture,
.page-index .introduction .introduction_text > picture > img {
    display: block;
    margin-inline: auto;
    width: auto;
    height: 100%;
  }
  .page-index .introduction .introduction_pass {
    display: block;
    width: 48.125vw;
    margin-inline: auto;
  }
  .page-index .introduction .introduction_pass > picture,
.page-index .introduction .introduction_pass > picture > img {
    display: block;
    width: 100%;
  }
  .page-index .introduction .ink._introduction_ink01 {
    top: 4.0625vw;
    left: 0;
    background: url("../images/index/ink/ink10.png") no-repeat top left;
    background-size: 100% auto;
    width: 11.640625vw;
    height: 20.3125vw;
  }
  .page-index .introduction .ink._introduction_ink02 {
    top: 24.6875vw;
    right: 0;
    background: url("../images/index/ink/ink09.png") no-repeat top left;
    background-size: 100% auto;
    width: 6.640625vw;
    height: 10.390625vw;
  }
  .page-index .gallery {
    padding: 4.21875vw 0 4.21875vw;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .page-index .gallery:before {
    content: "";
    display: block;
    width: 93.75vw;
    height: 1.5625vw;
    background: url("../images/index/gallery/line01.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    right: 0;
  }
  .page-index .gallery::after {
    content: "";
    display: block;
    width: 93.75vw;
    height: 1.5625vw;
    background: url("../images/index/gallery/line02.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .page-index .gallery .gallery_inner {
    display: grid;
    grid-template: "A B D E F G I" 10vw "A C D E F H I" 10vw/36vw 20.4vw 17.7vw 17.7vw 36vw 20.4vw 36vw;
    gap: 1.5625vw;
    place-self: stretch stretch;
    -webkit-animation: slide-flow 40s infinite linear 1s both;
            animation: slide-flow 40s infinite linear 1s both;
    margin-right: 1.5625vw;
  }
  .page-index .gallery .gallery_inner > picture,
.page-index .gallery .gallery_inner > picture > img {
    display: block;
  }
  .page-index .gallery .gallery_image01 {
    grid-area: A;
  }
  .page-index .gallery .gallery_image02 {
    grid-area: B;
  }
  .page-index .gallery .gallery_image03 {
    grid-area: C;
  }
  .page-index .gallery .gallery_image04 {
    grid-area: D;
  }
  .page-index .gallery .gallery_image05 {
    grid-area: E;
  }
  .page-index .gallery .gallery_image06 {
    grid-area: F;
  }
  .page-index .gallery .gallery_image07 {
    grid-area: G;
  }
  .page-index .gallery .gallery_image08 {
    grid-area: H;
  }
  .page-index .gallery .gallery_image09 {
    grid-area: I;
  }
  @-webkit-keyframes slide-flow {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes slide-flow {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  .page-index .inkopolis_square {
    position: relative;
    z-index: 5;
    padding-bottom: 37.5vw;
  }
  .page-index .inkopolis_square::before {
    content: "";
    width: 100%;
    height: 153.125vw;
    background: url("../images/index/inkopolis_square/shape02.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    bottom: -139.84375vw;
  }
  .page-index .inkopolis_square::after {
    content: "";
    width: 100%;
    height: 121.09375vw;
    background: url("../images/index/inkopolis_square/bg01.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    top: 4.6875vw;
    left: 0;
  }
  .page-index .inkopolis_square .inkopolis_square_title {
    width: 74.21875vw;
    margin-inline: auto;
    margin-bottom: 10.9375vw;
  }
  .page-index .inkopolis_square .inkopolis_square_text {
    position: relative;
    z-index: 5;
    width: auto;
    height: 3.125vw;
    margin-bottom: 3.515625vw;
  }
  .page-index .inkopolis_square .inkopolis_square_text._01::before {
    content: "";
    width: 19.53125vw;
    height: 1.953125vw;
    background: url("../images/index/common/deco01.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    top: -5.78125vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-index .inkopolis_square .inkopolis_square_text._03 {
    height: 2.65625vw;
    margin-bottom: 10.9375vw;
  }
  .page-index .inkopolis_square .inkopolis_square_text._04 {
    height: 2.96875vw;
    position: relative;
  }
  .page-index .inkopolis_square .inkopolis_square_text._04::before {
    content: "";
    width: 0.78125vw;
    height: 5.859375vw;
    background: url("../images/index/inkopolis_square/line01.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    top: -8.59375vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-index .inkopolis_square .inkopolis_square_text._05 {
    height: 3.515625vw;
  }
  .page-index .inkopolis_square .inkopolis_square_text._06 {
    height: 2.34375vw;
  }
  .page-index .inkopolis_square .inkopolis_square_text > picture,
.page-index .inkopolis_square .inkopolis_square_text > picture > img {
    display: block;
    margin-inline: auto;
    width: auto;
    height: 100%;
  }
  .page-index .inkopolis_square .inkopolis_square_enemy {
    width: 100%;
    position: relative;
    z-index: 5;
  }
  .page-index .inkopolis_square .inkopolis_square_enemy > picture {
    position: absolute;
  }
  .page-index .inkopolis_square .enemy {
    position: absolute;
  }
  .page-index .inkopolis_square .enemy > img {
    width: 100%;
  }
  .page-index .inkopolis_square .enemy._01 {
    width: 32.8125vw;
    top: -7.8125vw;
    left: 0;
  }
  .page-index .inkopolis_square .enemy._02 {
    width: 23.4375vw;
    top: 11.71875vw;
    left: 25.78125vw;
  }
  .page-index .inkopolis_square .enemy._03 {
    width: 22.96875vw;
    top: 15.15625vw;
    left: 52.34375vw;
  }
  .page-index .inkopolis_square .enemy._04 {
    width: 13.671875vw;
    top: 8.59375vw;
    left: 61.171875vw;
  }
  .page-index .inkopolis_square .enemy._05 {
    width: 15.234375vw;
    top: 17.34375vw;
    left: 75.546875vw;
  }
  .page-index .inkopolis_square .enemy_ink_wrap {
    position: absolute;
    width: 100%;
    height: 70.3125vw;
    top: 46.875vw;
    z-index: 1;
  }
  .page-index .inkopolis_square .enemy_ink {
    position: absolute;
    opacity: 0;
  }
  .page-index .inkopolis_square .enemy_ink > picture,
.page-index .inkopolis_square .enemy_ink > picture > img {
    display: block;
    width: 100%;
  }
  .page-index .inkopolis_square .enemy_ink._50 {
    width: 58.984375vw;
    top: 0vw;
    left: -9.765625vw;
  }
  .page-index .inkopolis_square .enemy_ink._51 {
    width: 32.8125vw;
    top: 8.59375vw;
    right: -12.5vw;
  }
  .page-index .inkopolis_square .enemy_ink._54 {
    width: 52.890625vw;
    top: 23.28125vw;
    left: 26.71875vw;
  }
  .page-index .inkopolis_square .enemy_wrap.on-enter > .enemy_ink_wrap .enemy_ink {
    -webkit-animation: enemyInk 500ms forwards;
            animation: enemyInk 500ms forwards;
  }
  .page-index .inkopolis_square .enemy_wrap.on-enter > .enemy_ink_wrap .enemy_ink._54 {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  @-webkit-keyframes enemyInk {
    0% {
      opacity: 0;
    }
    41% {
      opacity: 0;
    }
    45% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes enemyInk {
    0% {
      opacity: 0;
    }
    41% {
      opacity: 0;
    }
    45% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .page-index .inkopolis_square .ink._inkopolis_square_ink01 {
    top: 42.8125vw;
    right: 0;
    background: url("../images/index/ink/ink06.png") no-repeat top left;
    background-size: 100% auto;
    width: 7.5vw;
    height: 18.515625vw;
  }
  .page-index .inkopolis_square .ink._inkopolis_square_ink02 {
    top: 44.53125vw;
    left: 0;
    background: url("../images/index/ink/ink07.png") no-repeat top left;
    background-size: 100% auto;
    width: 9.0625vw;
    height: 20.9375vw;
  }
  .page-index .inkopolis_square .ink._inkopolis_square_ink03 {
    top: 103.4375vw;
    left: 3.90625vw;
    background: url("../images/index/ink/ink08.png") no-repeat top left;
    background-size: 100% auto;
    width: 7.03125vw;
    height: 6.796875vw;
  }
  .page-index .character {
    padding: 1.5625vw 0 0vw;
    position: relative;
    width: 100%;
    height: 137.5vw;
    display: block;
    margin-inline: auto;
  }
  .page-index .character .character_hime {
    position: relative;
    z-index: 11;
  }
  .page-index .character .character_hach {
    position: relative;
    z-index: 11;
  }
  .page-index .character .character_hime > picture {
    position: absolute;
    top: 103.28125vw;
    left: 6.25vw;
    z-index: 2;
  }
  .page-index .character .character_hime > picture,
.page-index .character .character_hime > picture > img {
    display: block;
    width: 49.21875vw;
  }
  .page-index .character .character_details {
    margin-inline: auto;
    width: 41.40625vw;
  }
  .page-index .character .character_details > picture,
.page-index .character .character_details > picture > img {
    display: block;
    width: 100%;
  }
  .page-index .character .character_details > p {
    font-size: 1.875vw;
    font-weight: bold;
    line-height: 2;
  }
}
@media (min-width: 760px) and (min-width: 1600px) {
  .page-index .character .character_details > p {
    font-size: 1.640625vw;
  }
}
@media (min-width: 760px) and (min-width: 2500px) {
  .page-index .character .character_details > p {
    font-size: 1.484375vw;
  }
}
@media (min-width: 760px) {
  .page-index .character .character_hime > .character_details {
    position: absolute;
    top: 104.6875vw;
    left: 50%;
    -webkit-transform: translateX(-11%);
            transform: translateX(-11%);
  }
}
@media (min-width: 760px) {
  .page-index .character .character_hime > .character_details > p,
.page-index .character .character_hach > .character_details > p {
    margin-top: 0vw;
  }
}
@media (min-width: 760px) {
  .page-index .character .character_hime > .character_details > p {
    margin-left: 5.46875vw;
  }
}
@media (min-width: 760px) {
  .page-index .character .character_hach > .character_details {
    position: absolute;
    top: 4.6875vw;
    left: 28.90625vw;
  }
}
@media (min-width: 760px) {
  .page-index .character .character_hach > .character_details > p {
    margin-left: 7.8125vw;
  }
}
@media (min-width: 760px) {
  .page-index .character .character_hach > .character_image._01 {
    position: absolute;
    width: 55.15625vw;
    top: 18.515625vw;
    left: 1.5625vw;
  }
}
@media (min-width: 760px) {
  .page-index .character .character_hach > .character_image._02 {
    position: absolute;
    width: 73.4375vw;
    top: 15.390625vw;
    right: 0vw;
  }
}
@media (min-width: 760px) {
  .page-index .character .ink._character_ink01 {
    top: 9.375vw;
    right: 0;
    background: url("../images/index/ink/ink12.png") no-repeat top left;
    background-size: 100% auto;
    width: 9.296875vw;
    height: 20.3125vw;
  }
}
@media (min-width: 760px) {
  .page-index .character .ink._character_ink02 {
    top: 25vw;
    right: 2.734375vw;
    background: url("../images/index/ink/ink13.png") no-repeat top left;
    background-size: 100% auto;
    width: 10.859375vw;
    height: 11.328125vw;
  }
}
@media (min-width: 760px) {
  .page-index .character .ink._character_ink03 {
    top: 16.171875vw;
    left: -5.46875vw;
    background: url("../images/index/ink/ink14.png") no-repeat top left;
    background-size: 100% auto;
    width: 20.46875vw;
    height: 27.265625vw;
  }
}
@media (min-width: 760px) {
  .page-index .character .ink._character_ink04 {
    top: 99.0625vw;
    right: -10.15625vw;
    background: url("../images/index/ink/ink15.png") no-repeat top left;
    background-size: 100% auto;
    width: 21.484375vw;
    height: 21.015625vw;
  }
}
@media (min-width: 760px) {
  .page-index .play {
    position: relative;
    z-index: 5;
    height: 40vw;
  }
  .page-index .play .play_wrap {
    display: block;
    width: 96.484375vw;
    height: 54.0625vw;
    margin-inline: auto;
    background: url("../images/index/play/bg01.png") no-repeat top left;
    background-size: 100% auto;
  }
  .page-index .play .play_title {
    width: 36.875vw;
    margin-inline: auto;
    padding-top: 13.28125vw;
    margin-bottom: 3.125vw;
  }
  .page-index .play .play_text {
    font-size: 1.40625vw;
    font-weight: bold;
    letter-spacing: 0.15em;
    line-height: 2.2;
    text-align: center;
    color: rgb(248, 247, 237);
    margin-bottom: 2.34375vw;
  }
  .page-index .play .play_pass {
    display: block;
    width: 48.125vw;
    margin-inline: auto;
  }
  .page-index .play .play_pass > picture,
.page-index .play .play_pass > picture > img {
    width: 100%;
  }
  .page-index .play .ink._play_ink01 {
    top: 9.375vw;
    left: 0vw;
    background: url("../images/index/ink/ink01.png") no-repeat top left;
    background-size: 100% auto;
    width: 18.59375vw;
    height: 24.609375vw;
  }
  .page-index .play .ink._play_ink02 {
    top: 33.828125vw;
    left: 15.234375vw;
    background: url("../images/index/ink/ink02.png") no-repeat top left;
    background-size: 100% auto;
    width: 5.625vw;
    height: 4.609375vw;
  }
  .page-index .play .ink._play_ink03 {
    top: 32.96875vw;
    left: 5.46875vw;
    background: url("../images/index/ink/ink03.png") no-repeat top left;
    background-size: 100% auto;
    width: 9.765625vw;
    height: 11.484375vw;
  }
  .page-index .play .ink._play_ink04 {
    top: 17.96875vw;
    right: 1.09375vw;
    background: url("../images/index/ink/ink04.png") no-repeat top left;
    background-size: 100% auto;
    width: 19.53125vw;
    height: 19.140625vw;
  }
  .page-index .play .ink._play_ink05 {
    top: 36.71875vw;
    right: 6.015625vw;
    background: url("../images/index/ink/ink05.png") no-repeat top left;
    background-size: 100% auto;
    width: 10.546875vw;
    height: 10.9375vw;
  }
}
@media (min-width: 760px) {
  .page-index .splatoon3 {
    background: url("../images/index/splatoon3/kv.png") no-repeat left bottom;
    background-size: 100% auto;
    position: relative;
    width: 100%;
    height: 45.3125vw;
  }
  .page-index .splatoon3 .splatoon3_btn {
    position: absolute;
    right: 0.390625vw;
    bottom: 0.390625vw;
    width: 15.625vw;
  }
  .page-index .splatoon3 .splatoon3_link {
    width: 100%;
    display: block;
    height: 100%;
  }
}
@media (min-width: 760px) {
  .page-index .movie_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
}
@media (min-width: 760px) {
  .page-index .hero .hero_logo01 {
    opacity: 0;
  }
  .page-index .hero .hero_sideorder {
    opacity: 0;
    bottom: -10.9375vw;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .page-index .hero .hero_release {
    opacity: 0;
    bottom: -2.34375vw;
  }
}
@media (min-width: 760px) {
  .page-index .hero._is_load .hero_logo01 {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .page-index .hero._is_load .hero_sideorder {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
    bottom: -8.59375vw;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .page-index .hero._is_load .hero_release {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    bottom: -3.90625vw;
  }
}
@media (min-width: 760px) {
  .page-index .inkopolis_square_enemy .enemy {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-transition: all 0.2s ease-in 500ms;
    transition: all 0.2s ease-in 500ms;
  }
}
@media (min-width: 760px) {
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy._01 {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy._02 {
    -webkit-transition-delay: 0.02s;
            transition-delay: 0.02s;
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy._03 {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy._04 {
    -webkit-transition-delay: 0.22s;
            transition-delay: 0.22s;
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy._05 {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
  }
}
@media (min-width: 760px) {
  @-webkit-keyframes ink {
    0% {
      opacity: 0;
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    41% {
      opacity: 0;
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    45% {
      opacity: 1;
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes ink {
    0% {
      opacity: 0;
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    41% {
      opacity: 0;
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    45% {
      opacity: 1;
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}
@media (max-width: 759px) {
  .page-index .wrap {
    overflow: hidden;
    position: relative;
    z-index: 0;
    position: relative;
  }
  .page-index ._pc {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .page-index ._sp {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }
  .page-index .bg_wrap._01 {
    position: relative;
    background: url("../images/index/bg/bg01.png") repeat center center;
    background-size: 53.5526315789vw 51.5789473684vw;
    padding-bottom: 9.2105263158vw;
  }
  .page-index .bg_wrap._01:before {
    content: "";
    display: block;
    width: 100%;
    height: 143.4210526316vw;
    background: url("../images/index/introduction/shape01_sp.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    bottom: 13.1578947368vw;
  }
  .page-index .bg_wrap._01::after {
    content: "";
    display: block;
    width: 100%;
    height: 92.1052631579vw;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgb(247, 236, 232)), to(rgb(247, 236, 232)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(247, 236, 232) 90%, rgb(247, 236, 232));
  }
  .page-index .bg_wrap._02 {
    background: url("../images/index/bg/bg02.png") repeat center center;
    background-size: 43.4210526316vw 43.4210526316vw;
    position: relative;
  }
  .page-index .bg_wrap._02::before {
    content: "";
    display: block;
    width: 100%;
    height: 171.0526315789vw;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(247, 236, 232)), color-stop(50%, rgb(247, 236, 232)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(rgb(247, 236, 232), rgb(247, 236, 232) 50%, rgba(0, 0, 0, 0));
  }
  .page-index .bg_wrap._02::after {
    content: "";
    display: block;
    width: 100%;
    height: 171.0526315789vw;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(95%, rgb(247, 236, 232)), to(rgb(247, 236, 232)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(247, 236, 232) 95%, rgb(247, 236, 232));
  }
  .page-index .ink {
    position: absolute;
    z-index: 10;
  }
  .page-index .hero {
    width: 100%;
    height: 157.8947368421vw;
    position: relative;
    z-index: 10;
    background: url("../images/index/hero/kv_sp.png") no-repeat;
    background-size: cover;
  }
  .page-index .hero .hero_logo01 {
    position: absolute;
    top: -4.6052631579vw;
    left: 0;
    width: 90.1315789474vw;
    height: 66.3157894737vw;
  }
  .page-index .hero .hero_sideorder {
    position: absolute;
    right: 0;
    bottom: 18.4210526316vw;
    width: 80.2631578947vw;
    height: 49.2105263158vw;
  }
  .page-index .hero .hero_release {
    position: absolute;
    left: 2.6315789474vw;
    bottom: -9.2105263158vw;
  }
  .page-index .hero .hero_release .hero_date {
    position: absolute;
    left: 0;
    bottom: 19.7368421053vw;
    width: 51.9736842105vw;
    height: 17.6315789474vw;
  }
  .page-index .hero .hero_release .hero_play {
    position: absolute;
    left: 1.9736842105vw;
    bottom: -3.9473684211vw;
    width: 47.6315789474vw;
    height: 24.8684210526vw;
  }
  .page-index .movie {
    padding: 10.5263157895vw 0 6.5789473684vw;
  }
  .page-index .movie ._movie_frame02,
.page-index .movie ._movie_frame01 {
    position: absolute;
    top: 7.8947368421vw;
  }
  .page-index .movie ._movie_frame01 {
    left: 0;
    background: url("../images/index/movie/frame01_sp.png") no-repeat top left;
    background-size: 100% auto;
    left: 0vw;
    width: 8.6842105263vw;
    height: 90.2631578947vw;
  }
  .page-index .movie ._movie_frame02 {
    right: 0;
    background: url("../images/index/movie/frame02_sp.png") no-repeat top left;
    background-size: 100% auto;
    right: 0vw;
    width: 8.8157894737vw;
    height: 90.2631578947vw;
  }
  .page-index .movie .movie_wrap {
    width: 89.4736842105vw;
    height: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 14.4736842105vw;
    -webkit-box-shadow: 0vw 0vw 2.6315789474vw 0.0657894737vw rgb(188, 132, 120);
            box-shadow: 0vw 0vw 2.6315789474vw 0.0657894737vw rgb(188, 132, 120);
    position: relative;
    margin: 5.2631578947vw 0;
    margin-inline: auto;
    background-color: rgb(188, 132, 120);
  }
  .page-index .movie .movie_wrap > .movie_view,
.page-index .movie .movie_wrap > .movie_view > iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .page-index .movie .movie_wrap > .movie_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .page-index .movie .movie_wrap > .movie_cover > .movie_poster {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 102%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .page-index .movie .movie_wrap > .movie_cover > .movie_play_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 10.5263157895vw;
    height: 10.5263157895vw;
    z-index: 2;
  }
  .page-index .movie .movie_select {
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .page-index .movie .movie_select_btn {
    width: 38.5526315789vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 2.6315789474vw 5.2631578947vw;
    position: relative;
  }
  .page-index .movie .movie_select > button:first-of-type {
    margin-right: 5.2631578947vw;
  }
  .page-index .movie .movie_select_btn > figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 30.2631578947vw;
  }
  .page-index .movie .movie_select_btn > figure > img {
    display: block;
    width: 9.7368421053vw;
  }
  .page-index .movie .movie_select_btn > figure > figcaption > img {
    display: block;
    margin-left: 1.3157894737vw;
  }
  .page-index .movie .movie_figcaption01 {
    width: 19.0789473684vw;
  }
  .page-index .movie .movie_figcaption02 {
    width: 19.0789473684vw;
  }
  .page-index .movie .movie_select_btn._select::before {
    content: "";
    position: absolute;
    top: -1.9736842105vw;
    left: -3.9473684211vw;
    width: 47.6315789474vw;
    height: 26.3157894737vw;
    background: url("../images/index/movie/select_sp.png") no-repeat;
    background-size: 47.6315789474vw auto;
  }
  .page-index .movie .movie_select_btn._select::after {
    content: "";
    position: absolute;
    top: 0vw;
    left: -1.8421052632vw;
    width: 43.6842105263vw;
    height: 22.1052631579vw;
    background: url("../images/index/movie/select_bg.png") no-repeat;
    background-size: 43.6842105263vw auto;
  }
  .page-index .movie .movie_select_btn._select > figure > img {
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
  }
  .page-index .movie .ink._movie_ink01 {
    top: 12.5vw;
    left: 0;
    background: url("../images/index/ink/ink11.png") no-repeat top left;
    background-size: 100% auto;
    width: 6.1842105263vw;
    height: 25vw;
  }
  .page-index .introduction {
    position: relative;
    z-index: 5;
    width: 100%;
    height: auto;
    padding: 10.5263157895vw 0 13.1578947368vw;
  }
  .page-index .introduction::before {
    content: "";
    display: block;
    width: 32.8947368421vw;
    height: 3.2894736842vw;
    background: url("../images/index/common/deco01.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-index .introduction .introduction_text {
    width: auto;
    height: 5.7894736842vw;
    margin-bottom: 5.2631578947vw;
    position: relative;
    z-index: 10;
  }
  .page-index .introduction .introduction_text._01 {
    height: 6.0526315789vw;
  }
  .page-index .introduction .introduction_text._02 {
    margin-bottom: 9.2105263158vw;
    height: 5.2631578947vw;
  }
  .page-index .introduction .introduction_text._03 {
    height: 5.2631578947vw;
  }
  .page-index .introduction .introduction_text._05 {
    margin-bottom: 6.5789473684vw;
    height: 5.3947368421vw;
  }
  .page-index .introduction .introduction_text > picture,
.page-index .introduction .introduction_text > picture > img {
    display: block;
    margin-inline: auto;
    width: auto;
    height: 100%;
  }
  .page-index .introduction .introduction_pass {
    display: block;
    width: 82.2368421053vw;
    margin-inline: auto;
  }
  .page-index .introduction .introduction_pass > picture,
.page-index .introduction .introduction_pass > picture > img {
    width: 100%;
  }
  .page-index .introduction .ink._introduction_ink01 {
    top: 33.1578947368vw;
    left: 0;
    background: url("../images/index/ink/ink10.png") no-repeat top left;
    background-size: 100% auto;
    width: 13.0263157895vw;
    height: 27.6315789474vw;
  }
  .page-index .introduction .ink._introduction_ink02 {
    top: 46.8421052632vw;
    right: 0;
    background: url("../images/index/ink/ink09.png") no-repeat top left;
    background-size: 100% auto;
    width: 7.2368421053vw;
    height: 10.7894736842vw;
  }
  .page-index .gallery {
    padding: 7.1052631579vw 0 7.1052631579vw;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .page-index .gallery:before {
    content: "";
    display: block;
    width: 90.7894736842vw;
    height: 2.6315789474vw;
    background: url("../images/index/gallery/sp/line01.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    right: 0;
  }
  .page-index .gallery::after {
    content: "";
    display: block;
    width: 90.7894736842vw;
    height: 1.3157894737vw;
    background: url("../images/index/gallery/sp/line02.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .page-index .gallery .gallery_inner {
    display: grid;
    grid-template: "A B D E F G I" 20vw "A C D E F H I" 20vw/71vw 40.8vw 34.4vw 34.4vw 71vw 40.8vw 71vw;
    gap: 2.6315789474vw;
    place-self: stretch stretch;
    -webkit-animation: slide-flow 30s infinite linear 1s both;
            animation: slide-flow 30s infinite linear 1s both;
    margin-right: 2.6315789474vw;
  }
  .page-index .gallery .gallery_inner > picture,
.page-index .gallery .gallery_inner > picture > img {
    display: block;
    width: 100%;
  }
  .page-index .gallery .gallery_image01 {
    grid-area: A;
  }
  .page-index .gallery .gallery_image02 {
    grid-area: B;
  }
  .page-index .gallery .gallery_image03 {
    grid-area: C;
  }
  .page-index .gallery .gallery_image04 {
    grid-area: D;
  }
  .page-index .gallery .gallery_image05 {
    grid-area: E;
  }
  .page-index .gallery .gallery_image06 {
    grid-area: F;
  }
  .page-index .gallery .gallery_image07 {
    grid-area: G;
  }
  .page-index .gallery .gallery_image08 {
    grid-area: H;
  }
  .page-index .gallery .gallery_image09 {
    grid-area: I;
  }
  @-webkit-keyframes slide-flow {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes slide-flow {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  .page-index .inkopolis_square {
    position: relative;
    z-index: 5;
    padding-bottom: 42.1052631579vw;
  }
  .page-index .inkopolis_square::before {
    content: "";
    width: 100%;
    height: 244.7368421053vw;
    background: url("../images/index/inkopolis_square/shape02_sp.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    bottom: -239.4736842105vw;
    opacity: 0.9;
  }
  .page-index .inkopolis_square::after {
    content: "";
    width: 100%;
    height: 177.6315789474vw;
    background: url("../images/index/inkopolis_square/bg01_sp.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    top: 21.0526315789vw;
    left: 0;
  }
  .page-index .inkopolis_square .inkopolis_square_title {
    width: 93.2894736842vw;
    margin-inline: auto;
    margin-bottom: 18.4210526316vw;
    position: relative;
    z-index: 12;
  }
  .page-index .inkopolis_square .inkopolis_square_text {
    position: relative;
    z-index: 5;
    width: auto;
    height: 5.9210526316vw;
    margin-bottom: 5.9210526316vw;
  }
  .page-index .inkopolis_square .inkopolis_square_text._01::before {
    content: "";
    width: 32.8947368421vw;
    height: 3.2894736842vw;
    background: url("../images/index/common/deco01.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    top: -9.7368421053vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-index .inkopolis_square .inkopolis_square_text._02 {
    height: 6.1842105263vw;
  }
  .page-index .inkopolis_square .inkopolis_square_text._03 {
    height: 5.2631578947vw;
    margin-bottom: 18.4210526316vw;
  }
  .page-index .inkopolis_square .inkopolis_square_text._04 {
    height: 5.7894736842vw;
    position: relative;
  }
  .page-index .inkopolis_square .inkopolis_square_text._04::before {
    content: "";
    width: 1.3157894737vw;
    height: 9.8684210526vw;
    background: url("../images/index/inkopolis_square/line01.png") no-repeat top left;
    background-size: 100% auto;
    position: absolute;
    top: -14.4736842105vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-index .inkopolis_square .inkopolis_square_text._05 {
    height: 6.8421052632vw;
  }
  .page-index .inkopolis_square .inkopolis_square_text._06 {
    height: 4.8684210526vw;
  }
  .page-index .inkopolis_square .inkopolis_square_text > picture,
.page-index .inkopolis_square .inkopolis_square_text > picture > img {
    display: block;
    margin-inline: auto;
    width: auto;
    height: 100%;
  }
  .page-index .inkopolis_square .inkopolis_square_enemy {
    width: 100%;
    position: relative;
    z-index: 5;
  }
  .page-index .inkopolis_square .inkopolis_square_enemy > picture {
    position: absolute;
  }
  .page-index .inkopolis_square .enemy {
    position: absolute;
  }
  .page-index .inkopolis_square .enemy > img {
    width: 100%;
  }
  .page-index .inkopolis_square .enemy._01 {
    width: 30.2631578947vw;
    top: -1.3157894737vw;
    left: 0;
  }
  .page-index .inkopolis_square .enemy._02 {
    width: 25.1315789474vw;
    top: 15.7894736842vw;
    left: 24.3421052632vw;
  }
  .page-index .inkopolis_square .enemy._03 {
    width: 22.8947368421vw;
    top: 19.7368421053vw;
    left: 51.9736842105vw;
  }
  .page-index .inkopolis_square .enemy._04 {
    width: 15.9210526316vw;
    top: 11.8421052632vw;
    left: 60.6578947368vw;
  }
  .page-index .inkopolis_square .enemy._05 {
    width: 15.6578947368vw;
    top: 21.8421052632vw;
    left: 75.3947368421vw;
  }
  .page-index .inkopolis_square .enemy_ink_wrap {
    position: absolute;
    width: 100%;
    height: 78.9473684211vw;
    top: 131.5789473684vw;
    z-index: 1;
  }
  .page-index .inkopolis_square .enemy_ink {
    position: absolute;
    opacity: 0;
  }
  .page-index .inkopolis_square .enemy_ink > picture,
.page-index .inkopolis_square .enemy_ink > picture > img {
    display: block;
    width: 100%;
  }
  .page-index .inkopolis_square .enemy_ink._50 {
    width: 61.1842105263vw;
    top: -9.8684210526vw;
    left: -9.8684210526vw;
  }
  .page-index .inkopolis_square .enemy_ink._51 {
    width: 39.4736842105vw;
    top: -6.5789473684vw;
    right: -16.4473684211vw;
  }
  .page-index .inkopolis_square .enemy_ink._54 {
    width: 53.5526315789vw;
    top: 12.2368421053vw;
    left: 22.6315789474vw;
  }
  .page-index .inkopolis_square .enemy_wrap.on-enter > .enemy_ink_wrap .enemy_ink {
    -webkit-animation: enemyInk 500ms forwards;
            animation: enemyInk 500ms forwards;
  }
  .page-index .inkopolis_square .enemy_wrap.on-enter > .enemy_ink_wrap .enemy_ink._54 {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  @-webkit-keyframes enemyInk {
    0% {
      opacity: 0;
    }
    41% {
      opacity: 0;
    }
    45% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes enemyInk {
    0% {
      opacity: 0;
    }
    41% {
      opacity: 0;
    }
    45% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .page-index .inkopolis_square .ink._inkopolis_square_ink01 {
    top: 121.5789473684vw;
    right: 0;
    background: url("../images/index/ink/ink06.png") no-repeat top left;
    background-size: 100% auto;
    width: 6.3157894737vw;
    height: 31.1842105263vw;
  }
  .page-index .inkopolis_square .ink._inkopolis_square_ink02 {
    top: 128.9473684211vw;
    left: 0;
    background: url("../images/index/ink/ink07.png") no-repeat top left;
    background-size: 100% auto;
    width: 8.0263157895vw;
    height: 35.2631578947vw;
  }
  .page-index .inkopolis_square .ink._inkopolis_square_ink03 {
    top: 174.2105263158vw;
    left: 2.6315789474vw;
    background: url("../images/index/ink/ink08.png") no-repeat top left;
    background-size: 100% auto;
    width: 6.5789473684vw;
    height: 11.4473684211vw;
  }
  .page-index .character {
    padding: 2.6315789474vw 0 0vw;
    position: relative;
    width: 100%;
    height: 202.6315789474vw;
    display: block;
    margin-inline: auto;
  }
  .page-index .character .character_hime {
    position: relative;
    z-index: 11;
  }
  .page-index .character .character_hach {
    position: relative;
    z-index: 11;
  }
  .page-index .character .character_hime > picture {
    position: absolute;
    top: 151.3157894737vw;
    left: 50%;
    -webkit-transform: translateX(-97%);
            transform: translateX(-97%);
    z-index: 2;
  }
  .page-index .character .character_hime > picture,
.page-index .character .character_hime > picture > img {
    display: block;
    width: 59.2105263158vw;
  }
  .page-index .character .character_details {
    margin-inline: auto;
    width: 66.0526315789vw;
  }
  .page-index .character .character_details > picture,
.page-index .character .character_details > picture > img {
    display: block;
    width: 100%;
  }
  .page-index .character .character_details > p {
    font-size: 3.1578947368vw;
    font-weight: bold;
    line-height: 2;
    white-space: nowrap;
  }
  .page-index .character .character_hime > .character_details {
    position: absolute;
    top: 151.3157894737vw;
    left: 50%;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  .page-index .character .character_hime > .character_details > p,
.page-index .character .character_hach > .character_details > p {
    margin-top: 0vw;
  }
  .page-index .character .character_hime > .character_details > p {
    margin-left: 6.5789473684vw;
  }
  .page-index .character .character_hach > .character_details {
    position: absolute;
    top: 5.2631578947vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page-index .character .character_hach > .character_details > p {
    margin-left: 15.7894736842vw;
  }
  .page-index .character .character_hach > .character_image._01 {
    position: absolute;
    width: 74.4736842105vw;
    top: 31.1842105263vw;
    left: -10.5263157895vw;
  }
  .page-index .character .character_hach > .character_image._02 {
    position: absolute;
    width: 100vw;
    top: 40.3947368421vw;
    right: -11.8421052632vw;
  }
  .page-index .character .ink._character_ink01 {
    top: 11.8421052632vw;
    right: 0;
    background: url("../images/index/ink/ink12.png") no-repeat top left;
    background-size: 100% auto;
    width: 8.4210526316vw;
    height: 17.1052631579vw;
  }
  .page-index .character .ink._character_ink02 {
    top: 23.6842105263vw;
    right: 1.9736842105vw;
    background: url("../images/index/ink/ink13.png") no-repeat top left;
    background-size: 100% auto;
    width: 10.3947368421vw;
    height: 10.9210526316vw;
  }
  .page-index .character .ink._character_ink03 {
    top: 28.0263157895vw;
    left: -6.5789473684vw;
    background: url("../images/index/ink/ink14.png") no-repeat top left;
    background-size: 100% auto;
    width: 23.8157894737vw;
    height: 30.7894736842vw;
  }
  .page-index .character .ink._character_ink04 {
    top: 168.1578947368vw;
    right: -25vw;
    background: url("../images/index/ink/ink15.png") no-repeat top left;
    background-size: 100% auto;
    width: 36.1842105263vw;
    height: 35.3947368421vw;
  }
  .page-index .play {
    position: relative;
    z-index: 5;
    height: 78.9473684211vw;
  }
  .page-index .play .play_wrap {
    display: block;
    width: 100%;
    height: 92.1052631579vw;
    margin-inline: auto;
    background: url("../images/index/play/bg01_sp.png") no-repeat top left;
    background-size: 100% auto;
  }
  .page-index .play .play_title {
    width: 62.1052631579vw;
    margin-inline: auto;
    padding-top: 19.7368421053vw;
    margin-bottom: 5.2631578947vw;
  }
  .page-index .play .play_text {
    font-size: 2.6315789474vw;
    font-weight: bold;
    letter-spacing: 0.15em;
    line-height: 2.2;
    text-align: center;
    color: rgb(248, 247, 237);
    margin-bottom: 3.9473684211vw;
  }
  .page-index .play .play_pass {
    display: block;
    width: 81.0526315789vw;
    margin-inline: auto;
    position: relative;
    z-index: 12;
  }
  .page-index .play .play_pass > picture,
.page-index .play .play_pass > picture > img {
    width: 100%;
  }
  .page-index .play .ink._play_ink01 {
    top: 46.0526315789vw;
    left: -11.8421052632vw;
    background: url("../images/index/ink/ink01.png") no-repeat top left;
    background-size: 100% auto;
    width: 31.3157894737vw;
    height: 41.4473684211vw;
  }
  .page-index .play .ink._play_ink02 {
    top: 30.6578947368vw;
    left: 5.2631578947vw;
    background: url("../images/index/ink/ink02.png") no-repeat top left;
    background-size: 100% auto;
    width: 9.4736842105vw;
    height: 7.7631578947vw;
  }
  .page-index .play .ink._play_ink03 {
    top: 38.4210526316vw;
    left: -3.9473684211vw;
    background: url("../images/index/ink/ink03.png") no-repeat top left;
    background-size: 100% auto;
    width: 16.4473684211vw;
    height: 19.3421052632vw;
  }
  .page-index .play .ink._play_ink04 {
    top: 22.3684210526vw;
    right: -15.7894736842vw;
    background: url("../images/index/ink/ink04.png") no-repeat top left;
    background-size: 100% auto;
    width: 32.8947368421vw;
    height: 32.2368421053vw;
  }
  .page-index .play .ink._play_ink05 {
    top: 48.6842105263vw;
    right: -5.2631578947vw;
    background: url("../images/index/ink/ink05.png") no-repeat top left;
    background-size: 100% auto;
    width: 17.7631578947vw;
    height: 18.4210526316vw;
  }
  .page-index .splatoon3 {
    background: url("../images/index/splatoon3/kv_sp.png") no-repeat left bottom;
    background-size: 100% auto;
    position: relative;
    width: 100%;
    height: 55.2631578947vw;
  }
  .page-index .splatoon3 .splatoon3_btn {
    position: absolute;
    right: 0.6578947368vw;
    bottom: 0.6578947368vw;
    width: 31.5789473684vw;
  }
  .page-index .splatoon3 .splatoon3_link {
    width: 100%;
    display: block;
    height: 100%;
  }
  .page-index .movie_modal_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5.2631578947vw;
    z-index: 10500;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .page-index .movie_modal_wrap._modalShow {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }
  .page-index .movie_modal {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .page-index .movie_modal > div,
.page-index .movie_modal > div > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .page-index .movie_modal_close {
    position: absolute;
    top: -30px;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
  }
  .page-index .movie_modal_close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background: #fff;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
            transform: translate3d(-50%, -50%, 0) rotate(45deg);
  }
  .page-index .movie_modal_close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background: #fff;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
            transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  }
  .page-index #js-movieModalView {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .page-index .hero .hero_logo01 {
    opacity: 0;
  }
  .page-index .hero .hero_sideorder {
    opacity: 0;
    bottom: 13.1578947368vw;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .page-index .hero .hero_release {
    opacity: 0;
    bottom: -6.5789473684vw;
  }
  .page-index .hero._is_load .hero_logo01 {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .page-index .hero._is_load .hero_sideorder {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s;
    bottom: 18.4210526316vw;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .page-index .hero._is_load .hero_release {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    bottom: -9.2105263158vw;
  }
  .page-index .inkopolis_square_enemy .enemy {
    opacity: 0;
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy._01 {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy._02 {
    -webkit-transition-delay: 0.02s;
            transition-delay: 0.02s;
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy._03 {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy._04 {
    -webkit-transition-delay: 0.22s;
            transition-delay: 0.22s;
  }
  .page-index .enemy_wrap.on-enter > .inkopolis_square_enemy .enemy._05 {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
  }
  @-webkit-keyframes ink {
    0% {
      opacity: 0;
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    41% {
      opacity: 0;
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    45% {
      opacity: 1;
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes ink {
    0% {
      opacity: 0;
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    41% {
      opacity: 0;
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    45% {
      opacity: 1;
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}
